@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="wrapper">
    <img class="hero-img" src="/css/Images/pizzawhite.png" />
    <div class="hero_section">
        <h1 class="hero_content">Welcome to <br><span>ContosoPizza</span></h1>
       <!-- <div class="scroll-container">
            <div class="scroll"></div>
         </div>-->
    </div>
</div>
<div class="actions-wrapper">
    <div class="action-label">
        <h1>Our Products</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        
    </div>
    <div class="actions-container">
        <a class="buttons" asp-page="/Products/Index"> Our Products</a>
    </div>
</div>
